.PermanenStaffingSolutionsMain{
    padding: 40px;
}
.ChoosePermanentPMP{
    margin-top:20px;
    margin-bottom: 30px;
padding: 10px;
}
.DeliversPermanentMP{
    margin: 10px;
    padding: 10px;
}
.PermanentStaffingSolutionsHeading{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
}
